<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Stendall, Place, Seattle, Washington, Home, House, Townhouse, 98133, Stendall Place"/>
        <meta name="description" content="Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA"/>
        <meta name="author" content="Venkatesh Nandakumar">
        <meta property="og:title" content="Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://stendall-place.org" />
        <meta property="og:image" content="http://stendall-place.org/img/whoarewe.jpg" />
        <meta property="og:site_name" content="Stendall Place's Website" />
        <meta property="fb:admins" content="594564446"/>
        <meta property="og:email" content="venkatesh88+website@gmail.com"/>
        <meta property="og:description" content="Stendall Place Description TODO#CONTENT"/>
        <link rel="shortcut icon" href="favicon.png">

        <title>Descriptive data with text and tables and images template - Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/offcanvas-min-1392051581.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Stendall Place, Seattle</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Welcome</a></li>
                            <li><a href="history.html">History</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leadership <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="board.html">Board</a></li>
                            <li><a href="management.html">Management Co.</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Standing Committees</li>
                            <li><a href="maintenance.html">Maintenance</a></li>
                            <li><a href="landscape.html">Landscape</a></li>
                            <li><a href="communication.html">Communication</a></li>
                            <li><a href="concerns.html">Homeowner Concerns</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regulations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="declaration.html">Declaration</a></li>
                            <li><a href="bylaws.html">By Laws</a></li>
                            <li><a href="coop.html">Cooperative Agreements</a></li>
                            <li><a href="policies.html">Board Policies</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Guidelines</li>
                            <li><a href="architectural.html">Architectural</a></li>
                            <li><a href="landscaping.html">Landscaping</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="images.html">Photos</a></li>
                            <li><a href="videos.html">Videos</a></li>
                            <li><a href="picnic2017.html">Annual Picnic 2017</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="calendar.html">Calendar</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Finance</li>
                            <li><a href="budget.html">Budget</a></li>
                            <li><a href="assessment.html">Assesment</a></li>
                            <li class="divider"></li>
                            <li><a href="minutes.html">Minutes</a></li>
                            <li><a href="faq.html">F.A.Q</a></li>
                            <li><a href="communitylinks.html">Community Links</a></li>
                            <li><a href="garbage-recycle.html">Garbage/Recycle Info</a></li>
                            <li><a href="newsletter.html">Newsletter</a></li>
                            <li class="divider"></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archives <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="minutes-archive.html">Minutes</a></li>
                            <li><a href="newsletter-archive.html">Newsletter</a></li>
                            <li><a href="correspondence.html">Stendall Correspondence</a></li>
                        </ul>
                        </li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>Welcome to UofT!</h1>
                        <p>Congratulations on getting accepted! We've tried our best to compile a list of what to expect in Toronto and our
                        best todo's. For more tips, check out our <a href="newsletters.html">Newsletters!</a></p>
                    </div>
                    <!--/row-->
                </div><!--/span-->

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        <a href="#applying" class="list-group-item active">Applying to UofT</a>
                        <a href="#climate" class="list-group-item">Climate and Clothing</a>
                        <a href="#housing" class="list-group-item">Housing</a>
                        <a href="#banking" class="list-group-item">Banking</a>
                        <a href="#campusjobs" class="list-group-item">Campus Jobs</a>
                        <a href="#living" class="list-group-item">Living and Studying Costs</a>
                    </div>
                </div><!--/span-->
            </div><!--/row-->

            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="applying"></a>Applying to University of Toronto</h2>
                        <p>University of Toronto offers innumerable undergraduate and graduate courses with varying course structures and admission
                        requirements. Therefore it's very difficult to enlist the exact procedure for getting in! But worry not, we'll
                        leave you with plenty of handful online resources which will help you get started!</p>
                        <br />
                        <p>Undergraduate Admissions &dash; <a class="btn btn-default btn-xs"
                            href="http://www.adm.utoronto.ca/admissions/" role="button">Click Here&raquo;</a><br /><br />
                        Prospective Graduate Students &dash; <a class="btn btn-default btn-xs"
                            href="http://www.sgs.utoronto.ca/prospectivestudents/Pages/default.aspx" role="button">Click
                            Here&raquo;</a><br /><br />
                        Information for Undergraduate Admissions &dash; <a class="btn btn-default btn-xs" href="http://www.ouac.on.ca/"
                            role="button">Click Here&raquo;</a><br /><br />
                        Informal forums/help for Graudate Admissions (registration required) &dash; <a class="btn btn-default btn-xs"
                            href="http://www.edulix.com/forum/forumdisplay.php?fid=89" role="button">Click Here&raquo;</a><br /></p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/second500.jpg">
                    </div><!--/span-->

                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="climate"></a>Climate and Clothing in Toronto</h2>
                        <p>Toronto's climate ranges from near tropical in the summer (up to 35° C), to occasional lows of –20° C in the winter. Different kinds and weights of clothing are therefore necessary. Students who do not already possess winter clothing may wish to wait and buy it in Canada. Lightweight clothing, chiefly cotton, is popular in the summer. In the spring and fall when the weather is cooler, sweaters and a lightweight waterproof coat are useful.</p>

                        <p>Canadian students prefer to dress casually for classes and, indeed, for most occasions. Pants or jeans are acceptable for both men and women and the emphasis is on comfort and practicality. Clothing that is appropriate to the climate, is generally acceptable.</p>

                        <p>You may also be interested in a 4th year international student's words of advice about winter for the newly
                        arrived! &dash; <a class="btn btn-default btn-xs"
                            href="http://blogs.studentlife.utoronto.ca/lifeatuoft/2011/09/21/upbeat-has-a-videoblogger-and-it%E2%80%99s-me/" role="button">Click Here&raquo;</a></p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/clothing.jpg">
                    </div><!--/span-->
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="housing"></a>Housing</h2>
                        <p>Living in residence fully immerses students in the twenty-four hour life that is the University of Toronto. Living in residence puts students close to their classes, and students from out-of-town will find that residence housing provides an easy entry point to life in a new city. Whether students choose to live on campus or find a place of their own, the University of Toronto has a number of services to help students find a great place to live.</p>

                        <h4>On-Campus</h4>
                        <p>All three campuses provide housing options that welcome students from the GTA, Canada and around the world into fun, supportive and close-knit communities. From their residence homes, students walk to classes and on-campus activities. Movie nights, sports events, study groups, athletic facilities and libraries are nearby, and, as well, each residence has its own sports teams, social events, governance, clubs, study halls, dining options and laundry facilities. Each residence offers services that range from study skills seminars and mentorships to cooking classes and city tours, all of which help new students transition to university life and city life.</p>
                        <p>Each campus has its own distinct residential communities and styles of residential living. U of T St. George residents live in one of the colleges or in the 1,000 bed Chestnut Residence.</p>
                        <p>Residence is guaranteed to full-time students who are entering their first year of study in an undergraduate program, are offered admission by May 31st and indicate their interest in residence on their application for admission.</p>

                        <h4>Off-Campus</h4>
                        <p>Thousands of students live in surrounding communities such as the Annex and Kensington. Each neighbourhood offers student-friendly, multi-cultural communities with a range of rental options for students. Housing offices on each of the campuses help students sort through rental listings, find roommates and vet potential landlords.</p>

                        <p>
                        More Details about Housing &dash; <a class="btn btn-default btn-xs" href="http://www.cie.utoronto.ca/Coming/Prepare-for-Arrival/Housing.htm" role="button">Click Here&raquo;</a><br />
                        U of T St. George Housing Service &dash; <a class="btn btn-default btn-xs" href="http://www.housing.utoronto.ca/" role="button">Click Here&raquo;</a></p>
                    </div><!--/span-->
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/housing.jpg">
                    </div><!--/span-->
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="banking"></a>Banking</h2>
                        <p>Planning ahead and investigating banking options can help make accessing money easy and affordable.  Talk to your bank in your home country and find out whether they have a branch or partnership branch in Canada.  Find out what kind of banking fees are applicable to using ATMs overseas, transferring funds to international accounts and other services that may be useful.  It is also a good idea to alert your credit card company that you will be living abroad for a period of time.</p>

                        <p>Many students will decide to open up a bank account while in Toronto.  It is advisable that you visit a number of banks to compare products and services.  To set up an account, the bank will require you to show 2 pieces of identification (e.g., passport, study permit, driver's licence), one of which must be photo identification.</p>

                        </p>The following is an alphabetical list of Canadian Banks you may wish to research:</p>

                        <ul>
                            <li>Bank of Montreal (BMO)</li>
                            <li>Canadian Imperial Bank of Commerce (CIBC)</li>
                            <li>HSBC Bank of Canada</li>
                            <li>National Bank of Canada</li>
                            <li>President’s Choice Financial Services</li>
                            <li>Royal Bank of Canada (RBC)</li>
                            <li>Scotiabank (Representatives from Scotiabank will be at CIE during orientation.)</li>
                            <li>TD Canada Trust</li>
                        </ul>

                        <p>You may also wish to consider a credit union as an alternative to a traditional bank.</p>

                        <p>Your Finances &dash; <a class="btn btn-default btn-xs" href="http://www.cie.utoronto.ca/Coming/Living-Here/Cost-of-Living.htm#Accessing_Money" role="button">Click Here&raquo;</a></p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/banks.jpg">
                    </div><!--/span-->
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="campusjobs"></a>Campus Jobs</h2>
                        <p>Many students choose to work on campus, thereby increasing competition for the job you want. The key is to start early —mid-summer is best— and be proactive in your search. You must use many methods and search in a variety of locations.</p>

                        <h4>How to Find Work on Campus</h4>

                        <p>Start by identifying the places you would like to work. Then visit the Career Centre, department, faculty, or research centre websites to determine if there are any posted opportunities. Considering only 20% of positions are ever advertised, visit the place you would like to work and bring along a tailored cover letter and resume. Leave the documents with an influencial person, in case a job opens up in the future.</p>

                        <p>Remember to network with friends, professors, TA’s, and U of T staff. Ask for advice on finding positions and let them know you are looking for a job on campus.</p>

                        <p>Getting Work Experience &dash; <a class="btn btn-default btn-xs" href="http://life.utoronto.ca/get-involved/jobs-careers/" role="button">Click Here&raquo;</a></p>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/jobs.png">
                    </div><!--/span-->
                    <div class="col-xs-12 col-sm-6 col-lg-8">
                        <h2><a name="living"></a>Living and Studying Costs</h2>
                        <p>The table below provides an estimated cost of living and studying at U of T for one year (i.e., twelve months). These figures are in Canadian dollars and reflect the cost of living as of 2012-2013. The type of accommodation you choose will be a major factor in determining your cost of living.</p>
                        <p>
                        <table class="table table-hover table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>‡</td>
                                    <td>Accommodation</td>
                                    <td>$7300-$14000</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Food</td>
                                    <td>$4000-$5000</td>
                                </tr>
                                <tr>
                                    <td><sup>*</sup></td>
                                    <td>Clothing</td>
                                    <td>$1200-$2000</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Local Transportation</td>
                                    <td>$1248 ($104 per month)</td>
                                </tr>
                                <tr>
                                    <td>¤</td>
                                    <td>Miscellaneous</td>
                                    <td>$1200-$1400</td>
                                </tr>
                                <tr>
                                    <td>§</td>
                                    <td>Books, Supplies and Instruments</td>
                                    <td>$1000</td>
                                </tr>
                                <tr>
                                    <td>Θ</td>
                                    <td>University Health Insurance Plan</td>
                                    <td>$684 (as of Sept 2013)</td>
                                </tr>
                                <tr>
                                    <td>?</td>
                                    <td><b>Total</b></td>
                                    <td><b>$16632-$26832</b></td>
                                </tr>
                            </tbody>
                        </table>
                        </p>
                        <font size="-4">
                            <p>‡ This figure assumes you are staying in a university residence, renting a room or a 1-bedroom apartment off
                            campus and preparing your own meals. For alternate housing solutions, please refer to the <a
                                href="http://www.housing.utoronto.ca/">U of T Student Housing
                                Service</a> website.</p>

                            <p>* The estimated cost of clothing includes large one-time purchases, such as a winter coat and boots.</p>
                            <p>¤ Miscellaneous items include postage, stationery, dry cleaning, laundry, pharmacy supplies, entertainment and
                            recreation, etc.</p>
                            <p>§ This cost is highly variable depending on your program, courses, year of study, etc.</p>
                            <p>Θ The University Health Insurance Plan (UHIP) fee is usually added to your tuition and fees invoice.</p>
                            <p>? This amount of money will permit an adequate but far from luxurious standard of living. While it is possible
                            to live very simply and economically, many students may wish to take advantage of opportunities outside U of T
                            to see more of the city and the country, and to actively participate in the life of the community. This will
                            involve additional costs.</p>
                        </font>
                    </div>
                    <div class="col-xs-6 col-lg-4">
                        <img class="featurette-image img-responsive" src="img/stacked-coins.jpg">
                    </div><!--/span-->
                    <hr />
                </div>
            </div>

            <hr />

            <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; Stendall Place Home Owners Association, Seattle, Washington</p>
            </footer>

        </div><!--/.container-->



        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="dist/js/offcanvas.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47822163-1', 'stendall-place.org');
            ga('send', 'pageview');

        </script>
    </body>
</html>
