<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Stendall, Place, Seattle, Washington, Home, House, Townhouse, 98133, Stendall Place"/>
        <meta name="description" content="Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA"/>
        <meta name="author" content="Venkatesh Nandakumar">
        <meta property="og:title" content="Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://stendall-place.org" />
        <meta property="og:image" content="http://stendall-place.org/img/whoarewe.jpg" />
        <meta property="og:site_name" content="Stendall Place's Website" />
        <meta property="fb:admins" content="594564446"/>
        <meta property="og:email" content="venkatesh88+website@gmail.com"/>
        <meta property="og:description" content="Stendall Place Description TODO#CONTENT"/>
        <link rel="shortcut icon" href="favicon.png">

        <title>Newsletters template - Stendall Place, private &amp; quiet Northend Neighborhood in Seattle, WA</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Custom styles for this template -->
        <link href="css/carousel-min-1392051581.css" rel="stylesheet">
        <link href="css/offcanvas-min-1392051581.css" rel="stylesheet">
    </head>
    <!-- NAVBAR
        ================================================== -->
        <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Stendall Place, Seattle</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Welcome</a></li>
                            <li><a href="history.html">History</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Leadership <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="board.html">Board</a></li>
                            <li><a href="management.html">Management Co.</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Standing Committees</li>
                            <li><a href="maintenance.html">Maintenance</a></li>
                            <li><a href="landscape.html">Landscape</a></li>
                            <li><a href="communication.html">Communication</a></li>
                            <li><a href="concerns.html">Homeowner Concerns</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regulations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="declaration.html">Declaration</a></li>
                            <li><a href="bylaws.html">By Laws</a></li>
                            <li><a href="coop.html">Cooperative Agreements</a></li>
                            <li><a href="policies.html">Board Policies</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Guidelines</li>
                            <li><a href="architectural.html">Architectural</a></li>
                            <li><a href="landscaping.html">Landscaping</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="images.html">Photos</a></li>
                            <li><a href="videos.html">Videos</a></li>
                            <li><a href="picnic2017.html">Annual Picnic 2017</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="calendar.html">Calendar</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Finance</li>
                            <li><a href="budget.html">Budget</a></li>
                            <li><a href="assessment.html">Assesment</a></li>
                            <li class="divider"></li>
                            <li><a href="minutes.html">Minutes</a></li>
                            <li><a href="faq.html">F.A.Q</a></li>
                            <li><a href="communitylinks.html">Community Links</a></li>
                            <li><a href="garbage-recycle.html">Garbage/Recycle Info</a></li>
                            <li><a href="newsletter.html">Newsletter</a></li>
                            <li class="divider"></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archives <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="minutes-archive.html">Minutes</a></li>
                            <li><a href="newsletter-archive.html">Newsletter</a></li>
                            <li><a href="correspondence.html">Stendall Correspondence</a></li>
                        </ul>
                        </li>
                        <li><a href="contacts.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>

            <!-- Carousel
                ================================================== -->

                <div class="container">

                    <!-- Marketing messaging and featurettes
                        ================================================== -->
                        <!-- Wrap the rest of the page in another container to center all the content. -->

                        <div class="container marketing">

                            <!-- START THE FEATURETTES -->

                            <div class="jumbotron">
                                <h1>Newsletters!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>

                            <div class="row featurette">
                                <div class="col-md-7">
                                    <h2 class="featurette-heading">Apr-May 2017</h2>
                                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                    <p><a href="http://tinyurl.com/iss-uoft-newsletter-aug-2013" class="btn btn-primary" role="button">Check it out &raquo;</a></p>
                                </div>
                                <div class="col-md-5">
                                    <a href="http://tinyurl.com/iss-uoft-newsletter-aug-2013"><img class="featurette-image img-responsive"
                                                                                                   src="img/newsletter1.png"></a>
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-5">
                                    <a href="http://tinyurl.com/ISS-Newsletter-Sep-2013"><img class="featurette-image img-responsive"
                                                                                              src="img/newsletter1.png" alt="Generic
                                                                                              placeholder image"></a>
                                </div>
                                <div class="col-md-7">
                                    <h2 class="featurette-heading">Jan-Apr 2017</h2>
                                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum. </p>
                                    <p><a href="http://tinyurl.com/ISS-Newsletter-Sep-2013" class="btn btn-primary" role="button">Check it out &raquo;</a></p>
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7">
                                    <h2 class="featurette-heading">Sep-Dec 2016</h2>
                                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p><a href="http://tinyurl.com/ISS-Newsletter-Jan-2014" class="btn btn-primary" role="button">Check it out &raquo;</a></p>
                                </div>
                                <div class="col-md-5">
                                    <a href="http://tinyurl.com/ISS-Newsletter-Jan-2014"><img class="featurette-image img-responsive"
                                                                                              src="img/newsletter1.png" alt="Generic
                                                                                              placeholder image"></a>
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <!-- /END THE FEATURETTES -->


                            <!-- FOOTER -->
                            <footer>
                                <p class="pull-right"><a href="#">Back to top</a></p>
                                <p>&copy; Stendall Place Home Owners Association, Seattle, Washington</p>
                            </footer>

                        </div><!-- /.container -->


                        <!-- Bootstrap core JavaScript
                            ================================================== -->
                            <!-- Placed at the end of the document so the pages load faster -->
                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                            <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-47822163-1', 'stendall-place.org');
ga('send', 'pageview');

                            </script>
        </body>
</html>
